<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="container-fluid footer-basic">
    <div class="row">

        <div class="col-sm-4 text-left">
            <img class="img-thumbnail" src="/static/daa.fw_2.png" width="100">
            <p style="padding-top:10px;">Copyright © DAA Enterprises Inc. All rights reserved.</p>
        </div>
        <div class="col-sm-4 text-left">
            <p style="Font-size:14px; font-weight:bold;">DAA Enterprises Inc. </p>
            <div>
                <p><span /><i class="fa fa-map-marker"></i> 369 Harvard Street, Suite #1, Brookline, MA 02446</p>
            </div>
            <div>
                <p> <i class="fa fa-phone"></i>(800) 359-5580 &nbsp; &nbsp;<i class="fa fa-envelope"></i>info@daaenterprises.com</p>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <a style="padding-left:15px; color:white; font-weight:bold;" href="#"> Terms </a>
            <a style="padding-left:15px; color:white; font-weight:bold;" href="#"> FAQ </a>
            <a style="padding-left:15px; color:white; font-weight:bold;" href="#"> Help </a>
            <div class="footer-icons">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook" style="font-size:24px;color:RoyalBlue"></i></a>
                <a href="https://twitter.com/home"><i class="fa fa-twitter" style="font-size:24px;color:DeepSkyBlue"></i></a>
                <a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square" style="font-size:24px;color:DodgerBlue"></i></a>
            </div>
            <p style="padding-top:10px; font-weight:bold;font-size:16px;">
            </p>
        </div>
    </div>
</footer>